[run]
branch = True

# ignore
omit =
    */__init__.py
    */migrations/*
    */tests/*
    */alembic/*
    */venv/*
    */.venv/*
    */site-packages/*

[report]
# skip
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
    def __str__
    raise NotImplementedError

# Show missing lines
show_missing = True
skip_covered = False

[html]
directory = coverage_html_report

[xml]
output = coverage.xml
