fastapi==0.116.1
fastmcp==2.12.0
uvicorn==0.35.0
mcp==1.13.1

pytest==8.4.2
httpx==0.28.1
httpx-sse==0.4.1
pytest-asyncio==1.1.0

asgi-lifespan==2.1.0

coverage==7.10.6
pytest-cov==6.2.1
alembic==1.16.5
psycopg2-binary==2.9.10
SQLAlchemy==2.0.43
minio==7.2.16
pytest-mock==3.15.0

chromadb==1.0.20
langchain-core==0.3.75
langchain-chroma==0.2.5
langchain-openai==0.3.32
langchain_community
